@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #C5EFCB;
    --secondary-color: #020402;
    --tertiary-color: #B42034;
}

body{
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
}

nav li{
    list-style: none;
    margin-top: 5px;
}

nav li a{
    padding: 10px;
    margin-right: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

nav li a:hover{
    color: var(--tertiary-color);
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    font-family: "Roboto", sans-serif;
}

form input{
    margin-top: 4px;
    margin-bottom: 4px;
}

form button{
    margin-top: 4px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 20%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

form button:hover{
    color: var(--tertiary-color);
}

.itemBox{
    display: flex;
}

.itemButton{
    padding: 10px;
}

.itemButton.active{
    padding: 20px;
}

